/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

/* ------------ variable css ------------ */
:root{
    /* Font */
    --body-font: 'Libre Baskerville', serif;

    /* colors */
    --white-color: #fff;
    --text-color: #272727;
    --body-color: #EEEEEE;
    --green-color: #0A8200;
    --blue-color: #002482;
    --grey-color: #C4C4C4;
    --black-bg-color: #00071B;

}

/* ------------ Base ------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

body,
button,
textarea,
input {
    font-family: var(--body-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ------------ Reusable CSS ------------ */
.section {
    padding-top: 80px;
}

.section__title{
    font-size: 36px;
    line-height: 45px;
    color: var(--text-color);
    margin-left: 50px;
    padding-bottom: 27px;
}

.btn {
    font-size: 24px;
    padding: 9px 32px;
    border: 2px solid #222222;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: .4s;
}


/* ------------ ------------ */
/* header start */
/* ------------ ------------ */
.header {
    width: 100%;
    background-color: var(--white-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
}

.nav__logo{
    width: 57px;
    height: 48px;
}

.nav__list {
    display: flex;
    column-gap: 30px;
}

.nav__item a {
    font-size: 18px;
    color: var(--text-color);
    transition: .4s;
    padding: 4px 10px;
}

.nav__item a:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 4px;
}

.nav__search {
    display: flex;
    align-items: center;
    height: 50px;
    width: 20%;
    position: relative;
}

.nav__search-box {
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: #f0f0f0;
    padding: 15px 40px;
    width: 100%;
}

.nav__search-box::placeholder{
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 16px;
    color: #848484;
}

.nav__search-icon {
    position: absolute;
    right: 0;
    padding: 0 14px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
}

.nav__icons {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.nav__icon {
    width: 25px;
    height: 22px;
}

.nav__profile {
    display: flex;
    align-items: center;
}

.nav__profile img {
    width: 39px;
    height: 39px;
}

.nav__profile span {
    padding: 0 15px;
    font-size: 18px;
    color: #646464;
}

/* ------------ ------------ */
/* header end */
/* ------------ ------------ */

/* ------------ ------------ */
/* invite start */
/* ------------ ------------ */
.invite {
    width: 100%;
    background-color: #F9FAFF;
    height: 50px;
    position: relative;
}

.invite__text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--text-color);
}

.invite__text a {
    padding: 0 15px;
}

.invite__close {
    border: none;
    background-color: none;
    cursor: pointer;
}

.invite__close img {
    position: absolute;
    right: 26px;
    top: 15px;
}

/* ------------ ------------ */
/* invite end */
/* ------------ ------------ */


/* ------------ ------------ */
/* Banner Start */
/* ------------ ------------ */

.banner__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 53% 47%;
}

.banner__img {
    width: 100%;
}

.banner__info{
    background-image: url("/asstes/img/banner/banner-bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner__logo {
    Width: 533px; 
    Height: 83px;
    margin-bottom: 50px;
}

.banner__text{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #565656;
    padding: 20px 0;
}


.banner__btn:hover {
    box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.75);
}

/* Swiper custom css */

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0px !important;
}

.swiper-pagination-bullet-active {
    background-color: #002482!important;
}


/* ------------ ------------ */
/* Trending start */
/* ------------ ------------ */

.trending__card {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 410px;
}

.trending__details {
    padding: 10px 0 13px 21px;
}

.trending__img {
    width: 100%;
    height: 301px;
    border-radius: 10px 10px 0 0;
}

.trending__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: var(--text-color);
}

.trending__brand {
    margin-top: 5px;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    color: var(--text-color);
}

.trending__rating {
    display: inline-block;
    font-size: 18px;
    margin:0 5px 0 30px;
    color: #848484;
}

.trending__price {
    margin-top: 15px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.trending__price-p {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--text-color);
}

.trending__price-d {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #848484;
}

.trending__price-off {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0A8200;
}

/* ------------ ------------ */
/* Trending end */
/* ------------ ------------ */

/* ------------ ------------ */
/* Deals start */
/* ------------ ------------ */
.deals__card{
    width: 489px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.deals__img {
    width: 100%;
    height: 298px;
}

.deals__info {
    margin: 30px 0 38px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deals__title {
    margin-top: 43px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: var(--text-color);
}

.deals__subtitle {
    margin-top: 23px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--text-color);
}

/* ------------ ------------ */
/* Deals end */
/* ------------ ------------ */

/* ------------ ------------ */
/* Offers start */
/* ------------ ------------ */
/* .offers__card {
    width: 370px;
    height: 330px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px 0px 0px 10px;
}

.offers__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 55px;
}

.offers__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 60px;
    margin-top: 35px;
}

.offers__container>.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: white;
    transition: all .3s ease;
}

.offers__container>.swiper-slide-active {
    color: #fff;
    background: linear-gradient(45deg, rgb(246, 146, 89), rgb(241, 105, 117));
    transform: scale(1.4);
    z-index: 2
} */

/* ------------ ------------ */
/* Offers end */
/* ------------ ------------ */


/* ------------ ------------ */
/* Festival start */
/* ------------ ------------ */
.festival__container {
    background-image: url("/asstes/img/offers-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
}

.festival__details {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.festival__logo {
    width: 530px;
    margin-bottom: 91px;
}

.festival__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: var(--white-color);
    margin-bottom: 36px;
}

.festival__subtitle {
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    color: var(--white-color);
    margin-bottom: 75px;
}

.festival__btn {
    font-size: 24px;
    padding: 9px 32px;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}
/* ------------ ------------ */
/* Festival end */
/* ------------ ------------ */
